[Unit]
Description=grafana-render on docker
After=docker.service
Requires=docker.service

[Service]
Type=simple
EnvironmentFile=/etc/default/docker-services

Environment=DOCKER_IMAGE=grafana/grafana-image-renderer:latest
Environment=DOCKER_NAME=grafana-render

SyslogIdentifier=docker-grafana-render

ExecStartPre=/usr/bin/docker pull "$DOCKER_IMAGE"
ExecStartPre=-/usr/bin/docker rm -v -f "$DOCKER_IMAGE"

ExecStart=/usr/bin/docker run --rm \
    --name "$DOCKER_NAME" \
    --memory=200m \
    --label traefik.enable=true \
    --label traefik.http.routers.grafanarender.rule=Host(`grafanarender.$TRAEFIK_PRIVATE_DOMAIN`) \
    --label traefik.http.routers.grafanarender.entrypoints=$TRAEFIK_PRIVATE_ENTRYPOINTS \
    --label traefik.http.routers.grafanarender.tls.certresolver=$TRAEFIK_PRIVATE_CERTRESOLVER \
    --label traefik.http.services.grafanarender.loadbalancer.server.port=8081 \
    $DOCKER_IMAGE 

ExecStop=/usr/bin/docker stop $DOCKER_NAME
KillMode=none

KillSignal=SIGINT
SuccessExitStatus=1

TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target
